@media screen and (max-width: 768px) {
  .mobileNav {
    display: block;
    border-bottom: 1px solid #DDDDDD;
  }
}

.mobileNav {
  display: none;
  position: fixed;
  top: 0;
  padding: 1rem 2.5rem;
  
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
  background-color: white;
  z-index: 999;
  color: #222222;
  .wrapper{
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 5rem;
    border: 0.5px solid rgba(0,0,0,0.08);
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    .logo{
      height: 2rem;
      width: 2rem;
      border-radius: 50%;
      // border: 1px solid #DDDDDD;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
    .disaprear{
      margin-right: 10px;
      .bold{
        font-weight: 600;
       
      }
      .light{
        font-weight: 300;
      }
    }
    .filter{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 2rem;
      width: 2rem;
      border-radius: 50%;
      border: 1px solid #DDDDDD;
      cursor: pointer;
    }
  }
}